/*Cuadro*/
.view {
   width: 100%;
   height: 150px;
   margin: 10px;
   border: 0.5em solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 0.2em 0.2em 0.5px #e6e6e6;
   -moz-box-shadow: 0.2em 0.2em 0.5px #e6e6e6;
   box-shadow: 0.2em 0.2em 0.5px #e6e6e6;

}
.viewprinc {
   width: 100%;
   margin: 10px;
   height: 240px;
   border: 0.5em solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 0.2em 0.2em 0.5px #e6e6e6;
   -moz-box-shadow: 0.2em 0.2em 0.5px #e6e6e6;
   box-shadow: 0.2em 0.2em 0.5px #e6e6e6;

}
.view img{
   width: 100%;
   height: auto;
}
.viewprinc img{
   width: 100%;
   height: auto;
}

/*Mascara*/
.view .mask,.view .content {
   width: 100%;
   height: auto;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.viewprinc .mask,.viewprinc .content {
   width: 100%;
   height: auto;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
/*trasicion de la maskara*/
.view-second .mask {
   background-color: rgba(115,146,184, 0.7);
   width: 100%;
   padding: 60px;
   height: 100%;
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translate(265px, 145px) rotate(45deg);
   -moz-transform: translate(265px, 145px) rotate(45deg);
   -o-transform: translate(265px, 145px) rotate(45deg);
   -ms-transform: translate(265px, 145px) rotate(45deg);
   transform: translate(265px, 145px) rotate(45deg);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.view-second:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translate(-0px, -0px) rotate(360deg);
   -moz-transform: translate(-0px, -0px) rotate(360deg);
   -o-transform: translate(-0px, -0px) rotate(360deg);
   -ms-transform: translate(-0px, -0px) rotate(360deg);
   transform: translate(-0px, -0px) rotate(360deg);
}

/*Titulo*/

.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.viewprinc h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}

/*Animacion titulo*/
.view-second h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: translate(200px, -220px);
   -moz-transform: translate(200px, -220px);
   -o-transform: translate(200px, -200px);
   -ms-transform: translate(200px, -220px);
   transform: translate(200px, -220px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-second:hover h2 {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}

/*Parrafo*/

.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.viewprinc p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}

/*Animacion parrafo*/
.view-second p {
   -webkit-transform: translate(-200px, 200px);
   -moz-transform: translate(-200px, 200px);
   -o-transform: translate(-200px, 200px);
   -ms-transform: translate(-200px, 200px);
   transform: translate(-200px, 200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.view-second:hover p {
   -webkit-transform: translate(0px,-10px);
   -moz-transform: translate(0px,-10px);
   -o-transform: translate(0px,-10px);
   -ms-transform: translate(0px,-10px);
   transform: translate(0px,-10px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}

/*Leer mas*/

.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.viewprinc a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}

/*Animacion leer mas*/
.view-second a.info {
   -webkit-transform: translate(0px, 100px);
   -moz-transform: translate(0px, 100px);
   -o-transform: translate(0px, 100px);
   -ms-transform: translate(0px, 100px);
   transform: translate(0px, 100px);
   -webkit-transition: all 0.2s 0.1s ease-in-out;
   -moz-transition: all 0.2s 0.1s ease-in-out;
   -o-transition: all 0.2s 0.1s ease-in-out;
   -ms-transition: all 0.2s 0.1s ease-in-out;
   transition: all 0.15s 0.05s ease-in-out;
}
.view-second:hover a.info {
   -webkit-transform: translate(0px,-25px);
   -moz-transform: translate(0px,-25px);
   -o-transform: translate(0px,-25px);
   -ms-transform: translate(0px,-25px);
   transform: translate(0px,-25px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
		
      /*Animacion para las Novedades*/

/*Animacion leer mas*/
.view-tres .mask {
   background-color: rgba(115,146,184, 0.7);
   width: 100%;
   padding: 60px;
   height: 100%;
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translate(265px, 145px) rotate(45deg);
   -moz-transform: translate(265px, 145px) rotate(45deg);
   -o-transform: translate(265px, 145px) rotate(45deg);
   -ms-transform: translate(265px, 145px) rotate(45deg);
   transform: translate(265px, 145px) rotate(45deg);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.view-tres:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translate(-0px, -0px) rotate(360deg);
   -moz-transform: translate(-0px, -0px) rotate(360deg);
   -o-transform: translate(-0px, -0px) rotate(360deg);
   -ms-transform: translate(-0px, -0px) rotate(360deg);
   transform: translate(-0px, -0px) rotate(360deg);
}

/*Animacion titulo*/
.view-tres h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: translate(200px, -220px);
   -moz-transform: translate(200px, -220px);
   -o-transform: translate(200px, -200px);
   -ms-transform: translate(200px, -220px);
   transform: translate(200px, -220px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-tres:hover h2 {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}

/*Animacion parrafo*/
.view-tres p {
   -webkit-transform: translate(-200px, 200px);
   -moz-transform: translate(-200px, 200px);
   -o-transform: translate(-200px, 200px);
   -ms-transform: translate(-200px, 200px);
   transform: translate(-200px, 200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.view-tres:hover p {
   -webkit-transform: translate(0px,-10px);
   -moz-transform: translate(0px,-10px);
   -o-transform: translate(0px,-10px);
   -ms-transform: translate(0px,-10px);
   transform: translate(0px,-10px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}

/*Leer mas*/

.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}

/*Animacion leer mas*/
.view-tres a.info {
   -webkit-transform: translate(0px, 100px);
   -moz-transform: translate(0px, 100px);
   -o-transform: translate(0px, 100px);
   -ms-transform: translate(0px, 100px);
   transform: translate(0px, 100px);
   -webkit-transition: all 0.2s 0.1s ease-in-out;
   -moz-transition: all 0.2s 0.1s ease-in-out;
   -o-transition: all 0.2s 0.1s ease-in-out;
   -ms-transition: all 0.2s 0.1s ease-in-out;
   transition: all 0.2s 0.01s ease-in-out;
}
.view-tres:hover a.info {
   -webkit-transform: translate(0px,-5px);
   -moz-transform: translate(0px,-5px);
   -o-transform: translate(0px,-5px);
   -ms-transform: translate(0px,-5px);
   transform: translate(0px,-5px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
@media screen and (max-width: 768px) {
/*Animacion titulo*/
.view-second h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 10px 10px 0px 10px;
   font-size: 13px;
   -webkit-transform: translate(200px, -220px);
   -moz-transform: translate(200px, -220px);
   -o-transform: translate(200px, -200px);
   -ms-transform: translate(200px, -220px);
   transform: translate(200px, -220px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

/*Animacion titulo*/
.content p{
   padding-top: 1em;
}



}